/* Card.css */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 40px;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 100rem;
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  
  .button{
    border-radius: 100px;
    color: white;
  }
  
  .card-body p {
    margin: 5px 0;
  }
  
