.Mytodos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .todo-box {
    background-color: #CCF5D3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30rem;
  }
  
  .todo-details {
    display: flex;
    flex-direction: column;
  }
  
  .todo-details p {
    margin: 5px 0;
  }
  
  .form-select {
    width: 100%;
  }

  .edit{
    background-color: #13AD89;
    border-radius: 10px;
    padding: 10px 25px;
  }

  .Delete{
    background-color: #D05E1F;
    border-radius: 10px;
    padding: 8px 25px;
  }

